[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20.9.0"  # Changed from 18 to 20.9.0

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200